<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teneo Web Chat</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
    <style>
      body {
        background: #E5F5FE;
      }
    </style>
  </head>

  <body>
    <button onclick="TeneoWebChat.call('reset')">Reset Chat</button><br>
    <button onclick="TeneoWebChat.call('set_chat_window_icon','https://www.flaticon.com/svg/static/icons/svg/862/862511.svg')">Change Title Icon</button><br>

    <script src="teneo-web-chat.js"></script> <!-- needed for Heroku -->
    <div id="teneo-web-chat"></div>
    <script>
      window.onload = function () {
        if (
          window.TeneoWebChat &&
            typeof window.TeneoWebChat.initialize === 'function'
        ) {
          var element = document.getElementById('teneo-web-chat');

          const teneoProps = {
            'teneoEngineUrl': '<%= process.env.TENEO_ENGINE_URL %>',
            'title':'<%= process.env.HEADER_TITLE %>',
            'titleIconUrl': '<%= process.env.HEADER_ICON_URL %>',
            'showCloseButton' : '<%= process.env.SHOW_CLOSE_BUTTON %>',
            'agentAvatarUrl' : '<%= process.env.AGENT_AVATAR_URL %>',
            'botAvatarUrl' : '<%= process.env.BOT_AVATAR_URL %>',
            'userAvatarUrl' : '<%= process.env.USER_AVATAR_URL %>',
            'minimizeIconUrl' :  '<%= process.env.MINIMIZE_ICON_URL %>',
            'closeIconUrl' :  '<%= process.env.CLOSE_ICON_URL %>',
            'launchIconUrl' :  '<%= process.env.LAUNCH_ICON_URL %>',
          }

          window.TeneoWebChat.initialize(element, teneoProps);
        }
      }
    </script>
  </body>
</html>
