<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teneo Web Chat</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
    <style>
      body {
        background: #E5F5FE;
      }
    </style>
  </head>

  <body>
    <button onclick="TeneoWebChat.call('reset')">Reset Chat</button><br>

    
    <script>
      const textMessageBotAvatarDateline = { 
          "author": "bot", 
          "type": "text", 
          "data": { 
              "text": "Lorem ipsum dolor sit amet! Duis aute irure dolor in reprehenderit.",
              "avatarUrl" : "https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/bot.png",
              "dateline" : "<strong>Sara</strong> - 12:45"
          }
      }

      const textMessageUserAvatarDateline = { 
          "author": "user", 
          "type": "text", 
          "data": { 
              "text": "Lorem ipsum dolor sit amet! Duis aute irure dolor in reprehenderit.",
              "avatarUrl" : "https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/user.png",
              "dateline" : "<strong>Joanna</strong> - 12:45"
          }
      }


      const textMessageAgentAvatarDateline = { 
          "author": "agent", 
          "type": "text", 
          "data": { 
              "text": "Lorem ipsum dolor sit amet! Duis aute irure dolor in reprehenderit.",
              "avatarUrl" : "https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/agent.png",
              "dateline" : "<strong>Jack</strong> - 12:45"
          }
      }

      const typingIndicatorUser = {
          "author": "user",
          "data": { 
              "avatarUrl" : "https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/user.png",
              "dateline" : "<strong>Joanna</strong> - 12:45"
          }
      }

      const typingIndicatorBot = {
          "author": "bot",
          "data": { 
              "avatarUrl" : "https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/bot.png",
              "dateline" : "<strong>Sara</strong> - 12:45"
          }
      }

      const typingIndicatorAgent = {
          "author": "agent",
          "data": { 
              "avatarUrl" : "https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/agent.png",
              "dateline" : "<strong>Jack</strong> - 12:45"
          }
      }
    </script>
    <button class="btn" onclick="TeneoWebChat.call('add_message',textMessageUserAvatarDateline)">Message from user</button><br>
    <button class="btn" onclick="TeneoWebChat.call('add_message',textMessageBotAvatarDateline)">Message from bot</button><br>
    <button class="btn" onclick="TeneoWebChat.call('add_message',textMessageAgentAvatarDateline)">Message from agent</button><br>
    <button class="btn" onclick="TeneoWebChat.call('show_typing_indicator',typingIndicatorAgent)">Show agent typing indicator</button><br>
    <button class="btn" onclick="TeneoWebChat.call('show_typing_indicator',typingIndicatorBot)">Show bot typing indicator</button><br>
    <button class="btn" onclick="TeneoWebChat.call('show_typing_indicator',typingIndicatorUser)">Show user typing indicator</button><br>

    <button class="btn" onclick="TeneoWebChat.call('hide_typing_indicator',{'author': 'agent'})">Hide agent typing indicator</button><br>
    <button class="btn" onclick="TeneoWebChat.call('hide_typing_indicator',{'author': 'bot'})">Hide bot typing indicator</button><br>
    <button class="btn" onclick="TeneoWebChat.call('hide_typing_indicator',{'author': 'user'})">Hide user typing indicator</button><br>
    <button class="btn" onclick="TeneoWebChat.call('set_send_icon','https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/bot.png')">Send icon</button><br>
    <button class="btn" onclick="TeneoWebChat.call('reset_send_icon')">Reset send icon</button><br>

    <script src="teneo-web-chat.js"></script> <!-- needed for Heroku -->
    <div id="teneo-web-chat"></div>
    <script>
      

      window.onload = function () {

        // TEMPORARY - REMOVE BEFORE RELEASE
        function onSendButtonClicked(payload) {
          // handle close button clicked event
          payload.handledState.handled = true
          console.log("Sent button clicked extension")
        }
        window.TeneoWebChat.on('send_button_clicked', onSendButtonClicked)

        function onLinkbuttonClicked(payload) {
          // handle close button clicked event
          console.log("linkbutton before", payload)
          payload.handledState.handled = true
          console.log("linkbutton after", payload)
        }
        window.TeneoWebChat.on('message_linkbutton_clicked', onLinkbuttonClicked)

        if (
          window.TeneoWebChat &&
            typeof window.TeneoWebChat.initialize === 'function'
        ) {
          var element = document.getElementById('teneo-web-chat');

          const linkbuttonCallback = function (payload){
            payload.handledState.handled = false;
          }

          window.TeneoWebChat.on('message_linkbutton_clicked', linkbuttonCallback);

          const teneoProps = {
            'teneoEngineUrl': '<%= process.env.TENEO_ENGINE_URL %>',
            'title':'<%= process.env.HEADER_TITLE %>',
            'titleIconUrl': '<%= process.env.HEADER_ICON_URL %>',
            'showCloseButton' : '<%= process.env.SHOW_CLOSE_BUTTON %>',
            'agentAvatarUrl' : '<%= process.env.AGENT_AVATAR_URL %>',
            'botAvatarUrl' : '<%= process.env.BOT_AVATAR_URL %>',
            'userAvatarUrl' : '<%= process.env.USER_AVATAR_URL %>',
            'minimizeIconUrl' :  '<%= process.env.MINIMIZE_ICON_URL %>',
            'closeIconUrl' :  '<%= process.env.CLOSE_ICON_URL %>',
            'launchIconUrl' :  '<%= process.env.LAUNCH_ICON_URL %>',
            'sendIconUrl' :  '<%= process.env.SEND_ICON_URL %>',
          }

          window.TeneoWebChat.initialize(element, teneoProps);

          
        }
      }
    </script>
  </body>
</html>
