<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teneo Web Chat</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
    <style>
      body {
        background: #f9fbe7;
      }
    </style>
  </head>

  <body>
    <h5>Chat window</h5>
    <button onclick="TeneoWebChat.call('reset')">Reset Chat</button><br>
    <button onclick="TeneoWebChat.call('maximize')">Maximize</button><br>
    <button onclick="TeneoWebChat.call('minimize')">Minimize</button><br>
    <button onclick="TeneoWebChat.call('end_session')">End session</button><br>
    <button onclick="TeneoWebChat.call('clear_chat_history')">Clear chat history</button><br>
    <button onclick="TeneoWebChat.call('set_chat_window_title', 'Connecting...')">Set window title</button><br>
    <button onclick="TeneoWebChat.call('set_agent_avatar_url', 'https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/agent.png')">Set agent avatar</button><br>
    <button onclick="TeneoWebChat.call('set_agent_avatar_url', '123')">Set invalid agent avatar</button><br>

    <button onclick="TeneoWebChat.call('add_message',{'author': 'bot', 'type': 'funky', 'data': {'text': 'Message from the bot.'}})">Invalid message type from bot</button><br>

    <h5>Message</h5>
    
    <button onclick="TeneoWebChat.call('add_message',{'author': 'bot', 'type': 'text', 'data': {'text': 'Message from the bot.'}})">Text message from bot</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'user', 'type': 'text', 'data': {'text': 'Message from the user'}})">Text message from user</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'agent', 'type': 'text', 'data': {'text': 'Message from the agent'}})">Text message from agent</button><br>
    
    <br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'bot', 'type': 'text', 'data': {'text': 'Message from the bot.','dateline':'<strong>Sara</strong> - 14:36'}})">Text message from bot with dateline</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'user', 'type': 'text', 'data': {'text': 'Message from the user','dateline':'<strong>Jack</strong> - 14:35'}})">Text message from user with dateline</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'agent', 'type': 'text', 'data': {'text': 'Message from the agent','dateline':'<strong>Ahmed</strong> - 14:37'}})">Text message from agent with dateline</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'agent', 'type': 'text', 'data': {'text': 'Message from the agent','dateline':'<strong>Ahmed</strong> - 14:37', 'avatarUrl':'https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/agent.png'}})">Text message from agent with avatar</button><br>

   <br>
    <button onclick="TeneoWebChat.call('show_typing_indicator',{'author': 'agent'})">Show agent typing indicator</button><br>
    <button onclick="TeneoWebChat.call('show_typing_indicator',{'author': 'bot'})">Show bot typing indicator</button><br>
    <button onclick="TeneoWebChat.call('show_typing_indicator',{'author': 'user'})">Show user typing indicator</button><br>

    <button onclick="TeneoWebChat.call('hide_typing_indicator',{'author': 'agent'})">Hide agent typing indicator</button><br>
    <button onclick="TeneoWebChat.call('hide_typing_indicator',{'author': 'bot'})">Hide bot typing indicator</button><br>
    <button onclick="TeneoWebChat.call('hide_typing_indicator',{'author': 'user'})">Hide user typing indicator</button><br>
    
    <br>
    <button onclick="TeneoWebChat.call('add_message',{'type': 'system', 'data': {'text': 'You will be handed over to an agent. You are number <strong>4</strong> in the queue.'}})">System message</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'type': 'modal', 'data': {'image': {'image_url':'https://as-freaky-styley-714c5e.bots.teneo.ai/teneo_web_chat_tes_3gzgctjx5q84x8fztj2bdzxtrh/images/crying_office_worker.png','alt':'Super sad'}, 'title': 'Stop this chat?', 'text': 'Are you sure you wish to stop this chat?', 'button_items': [{'style':'secondary','title':'Cancel','postback':'cancel'},{'style':'danger','title':'Stop chat','postback':'Stop'}]}})">Modal message</button><br>


    <h5>Sending inputs to engine</h5>
    <button onclick="TeneoWebChat.call('send_input', {'text':'What do you think about jimi hendriks?', 'parameters': {'userCountryCode':'NL'}})">Send input</button><br>
    <button onclick="TeneoWebChat.call('send_input', {'text':'This is a silent message', 'parameters': {'userCountryCode':'UK'}, 'silent': true})">Send silent input</button><br>

    <h5>Getters</h5>
    <button onclick="console.log(TeneoWebChat.get('state'))">Get State</button><br>
    <button onclick="console.log(TeneoWebChat.get('chat_history'))">Get chat history</button><br>
    <button onclick="console.log(TeneoWebChat.version())">Version</button><br>
    
    <div id="teneo-web-chat"></div>
    <script src="teneo-web-chat.js"></script>
    <script>
      window.onload = function () {
        if (
          window.TeneoWebChat &&
            typeof window.TeneoWebChat.initialize === 'function'
        ) {
          var element = document.getElementById('teneo-web-chat');

          // EXTENSIONS          
          function onNewMessage(payload) {
            console.log("onNewMessage", payload)
          }

          function onVisibilityChanged(payload) {
            console.log("onVisibilityChanged", payload)
          }
          
          function onEngineRequest(payload) {
            console.log("onEngineRequest", payload)
          }

          function onEngineResponse(payload) {
            console.log("onEngineResponse", payload)
          }

          function onInputSubmitted(payload) {
            console.log("onInputSubmitted", payload)
          }

          function onButtonClicked(payload) {
            console.log("onButtonClicked", payload)
          }

          function onModalButtonClicked(payload) {
            const handledState = payload.handledState
            handledState.handled = true
            console.log("onModalButtonClicked", payload)
          }

          function onOpenButtonClicked(payload) {
            console.log("onOpenButtonClicked", payload)
          }

          function onCloseButtonClicked(payload) {
            console.log("onCloseButtonClicked", payload)
          }

          function onMinimizeButtonClicked(payload) {
            console.log("onMinimizeButtonClicked", payload)
          }

          function onUserTyping(payload) {
            console.log("onUserTyping", payload)
          }

          function onReady() {
            console.log('onReady');
          }

          TeneoWebChat.on('new_message', onNewMessage);
          TeneoWebChat.on('visibility_changed', onVisibilityChanged);
          TeneoWebChat.on('engine_request', onEngineRequest);
          TeneoWebChat.on('engine_response', onEngineResponse);
          TeneoWebChat.on('input_submitted', onInputSubmitted);
          TeneoWebChat.on('message_button_clicked', onButtonClicked);
          TeneoWebChat.on('modal_button_clicked', onModalButtonClicked);
          TeneoWebChat.on('open_button_clicked', onOpenButtonClicked);
          TeneoWebChat.on('close_button_clicked', onCloseButtonClicked);
          TeneoWebChat.on('minimize_button_clicked', onMinimizeButtonClicked);
          TeneoWebChat.on('user_typing', onUserTyping);
          TeneoWebChat.on('ready', onReady);

          const teneoProps = {
            'teneoEngineUrl': '<%= process.env.TENEO_ENGINE_URL %>',
            'title':'<%= process.env.HEADER_TITLE %>',
            'titleIconUrl': '<%= process.env.HEADER_ICON_URL %>',
            'showCloseButton' : '<%= process.env.SHOW_CLOSE_BUTTON %>',
            'agentAvatarUrl' : '<%= process.env.AGENT_AVATAR_URL %>',
            'botAvatarUrl' : '<%= process.env.BOT_AVATAR_URL %>',
            'userAvatarUrl' : '<%= process.env.USER_AVATAR_URL %>',
            'minimizeIconUrl' :  '<%= process.env.MINIMIZE_ICON_URL %>',
            'closeIconUrl' :  '<%= process.env.CLOSE_ICON_URL %>',
            'launchIconUrl' :  '<%= process.env.LAUNCH_ICON_URL %>',
          }

          window.TeneoWebChat.initialize(element, teneoProps);
          //END EXTENSIONS MODS

        }
      }

    </script>
  </body>
</html>
