<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Teneo Web Chat</title>
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
    <style>
      body {
        background: #f9fbe7;
      }
    </style>
  </head>

  <body>
    <h5>Chat window</h5>
    <button onclick="TeneoWebChat.call('reset')">Reset Chat</button><br>
    <button onclick="TeneoWebChat.call('maximize')">Maximize</button><br>
    <button onclick="TeneoWebChat.call('minimize')">Minimize</button><br>
    <button onclick="TeneoWebChat.call('end_session')">End session</button><br>
    <button onclick="TeneoWebChat.call('clear_chat_history')">Clear chat history</button><br>
    <button onclick="TeneoWebChat.call('set_chat_window_title', 'Connecting...')">Set window title</button><br>
    <button onclick="TeneoWebChat.call('set_agent_avatar_url', 'http://localhost/twcdemo/user.jpg')">Set agent avatar</button><br>
    <button onclick="TeneoWebChat.call('set_agent_avatar_url', '123')">Set invalid agent avatar</button><br>

    <h5>Message</h5>
    
    <button onclick="TeneoWebChat.call('add_message',{'author': 'bot', 'type': 'text', 'data': {'text': 'Message from the bot.'}})">Text message from bot</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'user', 'type': 'text', 'data': {'text': 'Message from the user'}})">Text message from user</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'agent', 'type': 'text', 'data': {'text': 'Message from the agent'}})">Text message from agent</button><br>
    <br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'bot', 'type': 'text', 'data': {'text': 'Message from the bot.','dateline':'<strong>Sara</strong> - 14:36'}})">Text message from bot with dateline</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'user', 'type': 'text', 'data': {'text': 'Message from the user','dateline':'<strong>Jack</strong> - 14:35'}})">Text message from user with dateline</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'agent', 'type': 'text', 'data': {'text': 'Message from the agent','dateline':'<strong>Ahmed</strong> - 14:37'}})">Text message from agent with dateline</button><br>
    <button onclick="TeneoWebChat.call('add_message',{'author': 'agent', 'type': 'text', 'data': {'text': 'Message from the agent','dateline':'<strong>Ahmed</strong> - 14:37', 'avatarUrl':'http://localhost/twcdemo/robot.png'}})">Text message from agent with avatar</button><br>
    <br>
    <button onclick="TeneoWebChat.call('add_message',{'type': 'system', 'data': {'text': 'You will be handed over to an agent. You are number <strong>4</strong> in the queue.'}})">System message</button><br>


    <h5>Sending inputs to engine</h5>
    <button onclick="TeneoWebChat.call('send_input', {'text':'What do you think about jimi hendriks?', 'parameters': {'userCountryCode':'NL'}})">Send input</button><br>
    <button onclick="TeneoWebChat.call('send_input', {'text':'This is a silent message', 'parameters': {'userCountryCode':'UK'}, 'silent': true})">Send silent input</button><br>

    <h5>Getters</h5>
    <button onclick="console.log(TeneoWebChat.get('state'))">Get State</button><br>
    <button onclick="console.log(TeneoWebChat.get('chat_history'))">Get chat hitory</button><br>
    <button onclick="console.log(TeneoWebChat.version())">Version</button><br>
    
    <div id="teneo-web-chat"></div>
    <!-- <script src="teneo-web-chat.js"></script> -->
    <script>
      window.onload = function () {
        if (
          window.TeneoWebChat &&
            typeof window.TeneoWebChat.initialize === 'function'
        ) {
          var element = document.getElementById('teneo-web-chat');

          // EXTENSIONS          
          function onNewMessage(message) {
            console.log("onNewMessage", message)
            return message
          }

          function onVisibilityChanged(data) {
            console.log("onVisibilityChanged", data)
          }
          
          function onEngineRequest(request) {
            console.log("onEngineRequest", request)
            return request
          }

          function onEngineResponse(response) {
            console.log("onEngineResponse", response)
            return response
          }

          function onInputSubmitted(text) {
            console.log("onInputSubmitted", text)
            return text     
          }

          function onButtonClicked(button) {
            console.log("onButtonClicked", button)
            return button  
          }

          function onOpenButtonClicked(state) {
            console.log("onOpenButtonClicked", state)
            return state
          }
          function onCloseButtonClicked(state) {
            console.log("onCloseButtonClicked", state)
            return state
          }
          function onMinimizeButtonClicked(state) {
            console.log("onMinimizeButtonClicked", state)
            return state
          }

          function onUserTyping(text) {
            console.log("onUserTyping", text)
          }

          function onReady(initialData) {
            console.log('onReady',initialData);
          }

          TeneoWebChat.on('new_message', onNewMessage);
          TeneoWebChat.on('visibility_changed', onVisibilityChanged);
          TeneoWebChat.on('engine_request', onEngineRequest);
          TeneoWebChat.on('engine_response', onEngineResponse);
          TeneoWebChat.on('input_submitted', onInputSubmitted);
          TeneoWebChat.on('message_button_clicked', onButtonClicked);
          TeneoWebChat.on('open_button_clicked', onOpenButtonClicked);
          TeneoWebChat.on('close_button_clicked', onCloseButtonClicked);
          TeneoWebChat.on('minimize_button_clicked', onMinimizeButtonClicked);
          TeneoWebChat.on('user_typing', onUserTyping);
          TeneoWebChat.on('ready', onReady);

          const teneoProps = {
            'teneoEngineUrl': '<%= process.env.TENEO_ENGINE_URL %>',
            'title':'<%= process.env.HEADER_TITLE %>',
            'titleIconUrl': '<%= process.env.HEADER_ICON_URL %>',
            'showCloseButton' : '<%= process.env.SHOW_CLOSE_BUTTON %>',
            'agentAvatarUrl' : '<%= process.env.AGENT_AVATAR_URL %>',
            'botAvatarUrl' : '<%= process.env.BOT_AVATAR_URL %>',
            'userAvatarUrl' : '<%= process.env.USER_AVATAR_URL %>',
          }

          window.TeneoWebChat.initialize(element, teneoProps);
          //END EXTENSIONS MODS

        }
      }

    </script>
  </body>
</html>
