<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8"/>
<title>Teneo Web Chat</title>
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0 user-scalable=no">
<style>
    body {
        background: #E5F5FE;
    }
    .centerimage {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 400px;
        height: 300px;
        margin-top: -150px;
        margin-left: -200px;
        z-index: -10;
    }
    .btn {
        margin-bottom: 5px;
    }
    @media (max-width: 500px) {
        .centerimage {
            opacity: 0.3;
            transition-property: opacity;
            transition-duration: 0.2s;
            transition-timing-function: linear;
        }
    }
    div.scroll {
        width: 600px;
        overflow-x: hidden;
        text-align: justify;
    }
</style>
    

<script src="teneo-web-chat.js"></script> 

<!-- script src="teneo-web-chat.js"></script -->
<!-- needed for Heroku -->
<!--<% if(process.env.NODE_ENV === 'development') { %>-->
<!--<% } %>-->
<script>
/* <![CDATA[ */
window.addEventListener('load', () => {

    TeneoWebChat.on('ready', () => {
        const x = TeneoWebChat.get('storage').getItem('twc_last_state');
        if (x) {
            switch (x) {
                case 'maximized':
                    TeneoWebChat.call('maximize');
                    break;
                case 'minimized':
                    TeneoWebChat.call('minimize');
                    break;
                default:
                    logger.warn('TeneoWebChat', 'unknown stored twc_last_state value', x);
            }
        }
    });

    TeneoWebChat.on('visibility_changed', payload => TeneoWebChat.get('storage').setItem('twc_last_state', payload.visibility));
    TeneoWebChat.on('reset', () => TeneoWebChat.get('storage').removeItem('twc_last_state'));

    const element = document.getElementById('teneo-web-chat');
    const teneoProps = {
        'teneoEngineUrl': '<%= process.env.TENEO_ENGINE_URL %>',
        'title': '<%= process.env.HEADER_TITLE %>',
        'titleIconUrl': '<%= process.env.HEADER_ICON_URL %>',
        'showCloseButton': '<%= process.env.SHOW_CLOSE_BUTTON %>',
        'agentAvatarUrl': '<%= process.env.AGENT_AVATAR_URL %>',
        'botAvatarUrl': '<%= process.env.BOT_AVATAR_URL %>',
        'userAvatarUrl': '<%= process.env.USER_AVATAR_URL %>',
        'minimizeIconUrl': '<%= process.env.MINIMIZE_ICON_URL %>',
        'closeIconUrl': '<%= process.env.CLOSE_ICON_URL %>',
        'launchIconUrl': '<%= process.env.LAUNCH_ICON_URL %>',
        'sendIconUrl': '<%= process.env.SEND_ICON_URL %>',
        'uploadIconUrl': '<%= process.env.UPLOAD_ICON_URL %>',
        'showUploadButton': '<%= process.env.SHOW_UPLOAD_BUTTON %>',
        'asrIconUrl': '<%= process.env.ASR_ICON_URL %>',
        'showAsrButton': '<%= process.env.SHOW_ASR_BUTTON %>',
        'ttsIconUrl': '<%= process.env.TTS_ICON_URL %>',
        'showTtsButton': '<%= process.env.SHOW_TTS_BUTTON %>',

        'ttsActive': '<%= process.env.TTS_ACTIVE %>',
        'asrActive': '<%= process.env.ASR_ACTIVE %>',

        'msCognitiveAsrSubscriptionKey': '<%= process.env.MS_COGNITIVE_ASR_SUBSCRIPTION_KEY %>',
        'msCognitiveAsrRegion': '<%= process.env.MS_COGNITIVE_ASR_REGION %>',
        'msCognitiveAsrSubscriptionOnly': <%= process.env.MS_COGNITIVE_ASR_SUBSCRIPTION_ONLY %>,
        'msCognitiveAsrCustomAuthTokenUrl': '<%= process.env.MS_COGNITIVE_ASR_CUSTOM_AUTH_TOKEN_URL %>',
        'msCognitiveAsrEndpoint': '<%= process.env.MS_COGNITIVE_ASR_ENDPOINT %>',
        'msCognitiveAsrHost': '<%= process.env.MS_COGNITIVE_ASR_HOST %>',

        'msCognitiveTtsSubscriptionKey': '<%= process.env.MS_COGNITIVE_TTS_SUBSCRIPTION_KEY %>',
        'msCognitiveTtsRegion': '<%= process.env.MS_COGNITIVE_TTS_REGION %>',
        'msCognitiveTtsSubscriptionOnly': <%= process.env.MS_COGNITIVE_TTS_SUBSCRIPTION_ONLY %>,
        'msCognitiveTtsCustomAuthTokenUrl': '<%= process.env.MS_COGNITIVE_TTS_CUSTOM_AUTH_TOKEN_URL %>',
        'msCognitiveTtsEndpoint': '<%= process.env.MS_COGNITIVE_TTS_ENDPOINT %>',
        'msCognitiveTtsHost': '<%= process.env.MS_COGNITIVE_TTS_HOST %>',

        'msCognitiveSubscriptionKey': '<%= process.env.MS_COGNITIVE_SUBSCRIPTION_KEY %>',
        'msCognitiveRegion': '<%= process.env.MS_COGNITIVE_REGION %>',
        'msCognitiveSubscriptionOnly': <%= process.env.MS_COGNITIVE_SUBSCRIPTION_ONLY %>,
        'msCognitiveCustomAuthTokenUrl': '<%= process.env.MS_COGNITIVE_CUSTOM_AUTH_TOKEN_URL %>',
        'msCognitiveEndpoint': '<%= process.env.MS_COGNITIVE_ENDPOINT %>',
        'msCognitiveHost': '<%= process.env.MS_COGNITIVE_HOST %>',

        'msVoice': '<%= process.env.MS_VOICE %>',
        'locale': '<%= process.env.LOCALE %>',

        'autoRedirect': '<%= process.env.AUTO_OUTPUT_LINK_REDIRECT %>'
    };
    <% if(process.env.NODE_ENV === 'development') { %>
    //Keep last input on up arrow for rapid testing
    /*
    TeneoWebChat.on('input_submitted', (payload) => {
        window.sessionStorage.setItem('lastSentPhrase', payload.text);
    });
    document.addEventListener('keydown', function(e){
        if(e.code === 'ArrowUp') {
            let inputField = document.getElementById('twc-user-input-field');
            inputField.value = window.sessionStorage.getItem('lastSentPhrase')
        }
    });
    */
    <% } %>
//    window.TeneoWebChat.initialize(element, teneoProps);
});

/* ]]> */
</script>
</head>

<body>
<button onclick="TeneoWebChat.call('reset')">Reset Chat</button>

<div class="scroll">
    This is a Dummy Paragraph to test vertical and horizontal scrolling. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Kokruous maximus et blandit diam. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris non ex eget augue lobortis iaculis id a mauris. Sed auctor est quis lectus fringilla pharetra. Mauris efficitur nulla at augue porttitor laoreet. Duis pharetra lectus et fermentum commodo. Sed ullamcorper ante lectus, sit amet facilisis erat auctor quis. Mauris varius pharetra velit, in varius leo consequat sed. Aenean porta lorem non neque feugiat, nec ultrices est commodo. Ut vulputate quis neque sed tincidunt. Suspendisse in ligula accumsan, pharetra libero id, dignissim felis. Morbi scelerisque lacus sed ipsum faucibus suscipit. Vestibulum vitae efficitur nunc. Etiam ornare, risus nec dictum condimentum, ipsum tellus condimentum neque, vitae tempus velit tortor et magna. Vivamus egestas porta lacinia. Aenean interdum, dui ut maximus varius, massa ligula efficitur ex, eget cursus dui diam eget est.
    Nam quis felis quis ipsum vulputate lobortis vel laoreet mauris. Sed vel nisi quam. Enean id vestibulum lacus, ac faucibus velit. Donec blandit eros dui, ac imperdiet leo convallis vel. Integer molestie purus in placerat varius. Morbi porta porta varius. Nam odio quam, porttitor quis scelerisque nec, sollicitudin a orci. Interdum et malesuada fames ac ante ipsum primis in faucibus.
</div>

<div id="teneo-web-chat"></div>


<script>
/* <![CDATA[ */
window.addEventListener('load', () => {


TeneoWebChat.on('ready', () => {
    const x = TeneoWebChat.get('storage').getItem('twc_last_state');
    if (x) {
        switch (x) {
            case 'maximized':
            TeneoWebChat.call('maximize');
                break;
            case 'minimized':
            TeneoWebChat.call('minimize');
                break;
            default:
                logger.warn('TeneoWebChat', 'unknown stored twc_last_state value', x);
        }
    }
});

TeneoWebChat.on('visibility_changed', payload => TeneoWebChat.get('storage').setItem('twc_last_state', payload.visibility));

TeneoWebChat.on('reset', () => TeneoWebChat.get('storage').removeItem('twc_last_state'));


const element = document.getElementById('teneo-web-chat');
const teneoProps = {
    'teneoEngineUrl': '<%= process.env.TENEO_ENGINE_URL %>',
    'title': '<%= process.env.HEADER_TITLE %>',
    'titleIconUrl': '<%= process.env.HEADER_ICON_URL %>',
    'showCloseButton': '<%= process.env.SHOW_CLOSE_BUTTON %>',
    'agentAvatarUrl': '<%= process.env.AGENT_AVATAR_URL %>',
    'botAvatarUrl': '<%= process.env.BOT_AVATAR_URL %>',
    'userAvatarUrl': '<%= process.env.USER_AVATAR_URL %>',
    'minimizeIconUrl': '<%= process.env.MINIMIZE_ICON_URL %>',
    'closeIconUrl': '<%= process.env.CLOSE_ICON_URL %>',
    'launchIconUrl': '<%= process.env.LAUNCH_ICON_URL %>',
    'sendIconUrl': '<%= process.env.SEND_ICON_URL %>',
    'uploadIconUrl': '<%= process.env.UPLOAD_ICON_URL %>',
    'showUploadButton': '<%= process.env.SHOW_UPLOAD_BUTTON %>',
    'asrIconUrl': '<%= process.env.ASR_ICON_URL %>',
    'showAsrButton': '<%= process.env.SHOW_ASR_BUTTON %>',
    'asrActive': '<%= process.env.ASR_ACTIVE %>',
    'ttsIconUrl': '<%= process.env.TTS_ICON_URL %>',
    'showTtsButton': '<%= process.env.SHOW_TTS_BUTTON %>',
    'ttsActive': '<%= process.env.TTS_ACTIVE %>',
    'msCognitiveSubscriptionKey': '<%= process.env.MS_COGNITIVE_SUBSCRIPTION_KEY %>',
    'msCognitiveRegion': '<%= process.env.MS_COGNITIVE_REGION %>',
    'msVoice': '<%= process.env.MS_VOICE %>',
    'locale': '<%= process.env.LOCALE %>',
    'autoRedirect': '<%= process.env.AUTO_OUTPUT_LINK_REDIRECT %>'
};

window.TeneoWebChat.initialize(element, teneoProps);


});
/* ]]> */
</script>
    

</body>
</html>
